* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(0, 0, 0, 0.3);
}

/* 메가박스 글씨 */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0 0px 0px;
  font-size: 50px;
  font-weight: bold;
}
/* 제목 물결치게 하기 --- */
@keyframes anime_textup {
  0% {
    top: 0;
  }
  20% {
    top: -0.2rem;
  }
  40% {
    top: 0;
  }
  60% {
    top: 0;
  }
  80% {
    top: 0;
  }
  100% {
    top: 0;
  }
}

.header span {
  position: relative;
  animation: anime_textup 1.5s infinite;
}

.header span:nth-of-type(1) {
  animation-delay: 0.1s;
}

.header span:nth-of-type(2) {
  animation-delay: 0.2s;
}

.header span:nth-of-type(3) {
  animation-delay: 0.3s;
}

.header span:nth-of-type(4) {
  animation-delay: 0.4s;
}

.header span:nth-of-type(5) {
  animation-delay: 0.5s;
}
.header span:nth-of-type(6) {
  animation-delay: 0.6s;
}
.header span:nth-of-type(7) {
  animation-delay: 0.7s;
}
.header span:nth-of-type(8) {
  animation-delay: 0.8s;
}

/* --- 물결치게 하기 끝 */

/* 검색하는 곳 전체 div */
.searchbox {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* movie search 글씨 */
#search_letter {
  font-size: 18px;
  margin-bottom: 5px;
  text-decoration: underline blueviolet;
  text-decoration-style: wavy;
}

/* search inputbox */
#search {
  margin: 0 10px 0 10px;
  width: 290px;
  padding: 7px 6px;
  border: none;
  outline: none;
}

#searchBtn {
  width: 70px;
  height: 33px;
  cursor: pointer;
  /* border: 3px solid #8ed000; */
  background: blueviolet;
  border-radius: 6px;
  color: #fff;
  box-shadow: 1px 1px 4px #595959;
  transition: 0.3s;
  position: relative;
  border: none;
}

#searchBtn:hover {
  /* background-color: blueviolet; */
  color: white;
  transform: scale(1.1);
}
/* btn circle */
@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}

#searchBtn:hover::after {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 5px solid blueviolet;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.card_container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px 0px;
  padding: 35px 100px 100px 100px;
  justify-content: center;
}
.card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  cursor: pointer;
  background: #ddd;
  padding: 12px;
  margin: 20px;
  max-width: 400px;
  height: 100%;
  transition: 0.5s;
  text-align: center;
  position: relative; left: 0; bottom: 0;
}
.movie-title {
  padding: 15px 0px;
}
.movie_overview{
  font-size: 15px;
  padding-bottom: 15px;
}
.movie_vote_average {
  position: absolute; left: 50%; bottom: 20px;
  margin-left: -52px;
}
.card:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
  background: #fff;
  z-index: 1;
}
.img {
}
